[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "another_cmake_tutorial/external/glfw"]
	path = another_cmake_tutorial/external/glfw
	url = https://github.com/glfw/glfw.git
